# Sub-models need to be organized as a list to hold execution order
#
# **********  example  ***********
# model:
#     - name:
#       class:
#       args:
#           args1:
#           args2:
#
#     - name:
#       class:
#       args:
#           args1:
#           args2:
#
# ********************************
